<table class="table table-sm table-light table-striped" *ngIf="tracks">
	<thead>
	<tr>
		<th scope="col">#</th>
		<th scope="col">Track</th>
		<th scope="col">Duration</th>
		<!--TODO: Use *ngIf to hide if hideArtist is true-->
		<th scope="col" *ngIf="!hideArtist">Primary Artist</th>
		<!--TODO: Use *ngIf to hide if hideAlbum is true-->
		<th scope="col"*ngIf="!hideAlbum">Album</th>
	</tr>
	</thead>
	<tbody *ngFor="let track of tracks; let row=index">
	<!--TODO: Use *ngFor to loop over tracks-->
	<tr>
		<!--TODO: Populate with row index (start with 1!)-->
		<td>{{row+1}}</td>
		<td>
			<!--TODO: link to the endpoint for that track, display the track's name-->
			<a href ="/track/{{track.id}}">{{track.name}}</a>
		</td>
		<!--TODO: display the track's duration-->
		<td>{{track.durationStr}}</td>
		<!--TODO: Use *ngIf to hide if hideArtist is true; link to the first artist's endpoint and display the first artist's name-->
		<td *ngIf="!hideArtist"><a href="/artist/{{track.primaryArtist.id}}">{{track.primaryArtist.name}}</a></td>
		<!--TODO: Use *ngIf to hide if hideAlbum is true; link to the album's endpoint and display the album's name-->
		 <td *ngIf="!hideAlbum"><a href="/album/{{track.album}}">{{track.album.name}}</a></td>

	</tr>
	</tbody>
</table>
