<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input placeholder="Search!" [(ngModel)] = 'searchString'>
<!--TODO: bind select's model to searchCategory-->
<select [(ngModel)]='searchCategory'>
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
	<option *ngFor="let category of searchCategories">{{category}}</option>
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light" (click)="search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->

<app-carousel [resources]="resources" *ngIf="!showTracks" [carouselId] = 'searchCategory'></app-carousel>
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<app-track-list [tracks]="resources" *ngIf="showTracks"></app-track-list>
