<div *ngIf="album" class="row">
	<div class="col-6">
		<!--TODO: populate with album name-->
		<h1>{{album.name}}</h1>
		<!--TODO: set src to album image URL-->
		<img [src]="album.imageURL" id="albumImg">
		<!--TODO: loop over album artists-->
		<p *ngFor="let artist of album.artists">
			<!--TODO: link to artist page, display artist name-->
			Artist: <a href="{{artist.url}}">{{artist.name}}</a>
		</p>
		<p *ngFor="let artist of album.artists">
			<!--TODO: link to artist page on spotify, display artist name-->
			<a class="btn btn-dark" role="button" target="_blank" >Open {{artist.name}} on Spotify</a>
		</p>
	</div>
	<div class="col-6">
		<h3>Album Tracks</h3>
		<!--TODO: display the track list for the album. Hide the artist and album columns because they are redundant on this page.-->
		<app-track-list [tracks]="tracks" [hideAlbum] = 'true' [hideArtist]='true'></app-track-list>
	</div>
</div>
